<%= form_with(model: foreign_national, class: "needs-validation", novalidate: true) do |form| %>
  <% if foreign_national.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Validation Error!</h4>
      <ul>
        <% foreign_national.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :status, "Select Status", class: "form-label" %>
    <%= form.select :status, ForeignNational.statuses.keys, { include_blank: "Select a Status" }, class: "form-select", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :birthday, class: "form-label" %>
    <%= form.date_field :birthday, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.text_field :address, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.hidden_field :account_id, value: @account_id %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
