<div id="<%= dom_id foreign_national %>">
  <p>
    <strong>Name:</strong>
    <%= @foreign_national.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @foreign_national.status %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @foreign_national.birthday %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @foreign_national.address %>
  </p>

</div>
