<div class="d-flex">
  <div class="col-md-10 offset-md-1">

    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault" id="toggleLabel">Toggle Profile</label>
    </div>

    <div id="profile" class="page-content">
      <!-- Cases page -->
      <h1><%= @foreign_national.name.capitalize() %>'s Cases</h1>
<hr>
      <% @foreign_national.immigration_cases.each do |immigration_case|%>
        <%= render "shared/cases", immigration_case: immigration_case%>
        <br>
      <% end %>
    </div>

    <div id="cases" class="page-content" style="display: none;">
      <!-- Profile page with details -->
      <h1><%= @foreign_national.name %>'s Profile</h1>
      <%= render "foreign_nationals_profile", foreign_national: @foreign_national%>

    </div>

  </div>
</div>

<%= render "foreign_nationals_side_button"%>

<script>
  $(document).ready(function () {
    $('#flexSwitchCheckDefault').change(function () {
      if (this.checked) {
        $('#profile').hide();
        $('#cases').show();
        $('#toggleLabel').text('Toggle Cases');
      } else {
        $('#profile').show();
        $('#cases').hide();
        $('#toggleLabel').text('Toggle Profile');
      }
    });
  });
</script>
