<ul class="steps" ">
  <li class="step step-success" >
    <div class="step-content">
      <span class="step-circle"><i class="fa-solid fa-check"></i></span>
      <span class="step-text"><%= ImmigrationCase.statuses.keys[0] %></span>
    </div>
  </li>
  <li class="step step-active">
    <div class="step-content">
      <span class="step-circle"><i class="fa-solid fa-check"></i></span>
      <span class="step-text"><%= ImmigrationCase.statuses.keys[1] %></span>
    </div>
  </li>
  <li class="step">
    <div class="step-content">
      <span class="step-circle"><i class="fa-solid fa-check"></i></span>
      <span class="step-text"><%= ImmigrationCase.statuses.keys[2] %></span>
    </div>
  </li>
  <li class="step">
    <div class="step-content">
      <span class="step-circle"><i class="fa-solid fa-check"></i></span>
      <span class="step-text"><%= ImmigrationCase.statuses.keys[3] %></span>
    </div>
  </li>
  <li class="step">
    <div class="step-content">
      <span class="step-circle"><i class="fa-solid fa-check"></i></span>
      <span class="step-text"><%= ImmigrationCase.statuses.keys[4] %></span>
    </div>
  </li>
  <li class="step">
    <div class="step-content">
      <span class="step-circle"><i class="fa-solid fa-check"></i></span>
      <span class="step-text"><%= ImmigrationCase.statuses.keys[6] %></span>
    </div>
  </li>
</ul>
