<%= form_with(model: document, url: approved_documents_path, method: :post) do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :immigration_case_id, value: immigration_case_id %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, value: "Approval Notice" %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <!--<div>-->
    <%#= form.label :extracted_text, "Receipt Number", style: "display: block" %>
    <%#= form.text_field :extracted_text %>
<!--  </div>-->

  <%= form.hidden_field :uploader_id, value: current_user.id %>

  <%= form.fields_for :immigration_case, document.build_immigration_case do |immigration_case_form| %>
    <div>
      <%= immigration_case_form.label :approval_date, "Approved Date", style: "display: block" %>
      <%= immigration_case_form.date_field :approval_date %>
    </div>

    <div>
      <%= immigration_case_form.label :expiration_date, "Expiration Date", style: "display: block" %>
      <%= immigration_case_form.date_field :expiration_date %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
