<div id="<%= dom_id document %>">
  <p>
    <strong>Case:</strong>
    <%= document.case_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= document.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= document.image %>
  </p>

  <p>
    <strong>Extracted text:</strong>
    <%= document.extracted_text %>
  </p>

  <p>
    <strong>Uploader:</strong>
    <%= document.uploader_id %>
  </p>

</div>
