<%= form_with(model: document, url: add_receipt_documents_path, method: :post, class: "needs-validation", novalidate: true, multipart: true) do |form| %>
  <% if document.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Validation Error!</h4>
      <ul>
        <% document.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :immigration_case_id, value: immigration_case_id %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, value: "Receipt Notice", class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: "form-label", style: "display: block" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :extracted_text, "Receipt Number", class: "form-label", style: "display: block" %>
    <%= form.text_field :extracted_text, class: "form-control" %>
  </div>

  <%= form.hidden_field :uploader_id, value: current_user.id %>

  <%= form.fields_for :immigration_case, document.build_immigration_case do |immigration_case_form| %>
    <div class="mb-3">
      <%= immigration_case_form.label :received_date, "Received Date", class: "form-label", style: "display: block" %>
      <%= immigration_case_form.date_field :received_date, class: "form-control" %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
