<%= form_with(model: document, url: add_receipt_documents_path, method: :post) do |form| %>
  <% if document.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :immigration_case_id, value: immigration_case_id %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, value: "Receipt Notice" %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :extracted_text, "Receipt Number", style: "display: block" %>
    <%= form.text_field :extracted_text %>
  </div>

  <%= form.hidden_field :uploader_id, value: current_user.id %>

  <%= form.fields_for :immigration_case do |i_form| %>
    <%= i_form.hidden_field :id, value: immigration_case_id %>
    <%= i_form.hidden_field :status, value: 3%>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
