<div class="card">
  <div class="row no-gutters">
    <!-- Image on the left -->
    <div class="col-md-8">
      <img id="documentImage" src="<%= @documents.first.image %>" alt="<%= @documents.first.name %>" class="img-fluid mb-3">
    </div>
    <!-- Text on the right -->
    <div class="col-md-4">
      <div class="card-body text-center">
        <h5 id="cardTitle" class="card-title">Document List</h5>
        <ul class="list-group">
          <% @documents.each do |document| %>
            <a class="list-group-item list-group-item-action" data-toggle="collapse" href="#documentCollapse<%= document.id %>" data-image="<%= document.image %>" data-name="<%= document.name %>" style="transition: background-color 0.3s ease; background-color: #fff;" onmouseover="this.style.backgroundColor='rgba(89, 7, 162, .7)'" onmouseout="this.style.backgroundColor='#fff'" onclick="updateImage('<%= document.image %>', '<%= document.name %>')">
              <%= document.name %>
            </a>
            <div id="documentCollapse<%= document.id %>" class="collapse" style="border: 1px solid rgba(0, 0, 0, 0.125); border-top: none;">
              <!-- Add document details here -->



<div class="d-flex justify-content-between align-items-center">
  <p style="margin:  10px 0px 0px 20px;">Uploader: <%= document.uploader.username %></p>

  <%= button_to document_path(document),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "btn btn-danger ms-2 ml-auto",
                style: "width: 30px; padding: 5px; text-decoration: none; color: #fff; font-size: 12px;",
                onmouseover: "addShakeEffect(this);",
                onmouseout: "removeShakeEffect(this);" do %>
    <i class="fas fa-trash"></i>
  <% end %>
  <script>
  function addShakeEffect(element) {
    var icon = element.querySelector('.fa-trash');
    icon.classList.add('fa-shake');
  }

  function removeShakeEffect(element) {
    var icon = element.querySelector('.fa-trash');
    icon.classList.remove('fa-shake');
  }
</script>
</div>


              
           
              <p>Uploaded Date: <%= document.created_at %></p>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  function updateImage(imageSrc, documentName) {
    $('#documentImage').attr('src', imageSrc).attr('alt', documentName);
  }
</script>
