<%= form_with(model: immigration_case, class: "needs-validation", novalidate: true) do |form| %>
  <% if immigration_case.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(immigration_case.errors.count, "error") %> prohibited this immigration_case from being saved:</h2>

      <ul>
        <% immigration_case.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.hidden_field :foreign_nationals_id, value: immigration_case.foreign_nationals_id %>
  </div>

  <div class="mb-3">
    <%= form.label :case_type, class: "form-label", style: "display: block" %>
    <%= form.collection_select :case_type, ImmigrationCase.case_types.keys, :to_s, :humanize, { include_blank: "Select a Case Type" }, { class: "form-control", selected: immigration_case.case_type } %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label", style: "display: block" %>
    <%= form.collection_select :status, ImmigrationCase.statuses.keys, :to_s, :humanize, { include_blank: "Select a Status" }, { class: "form-control", selected: immigration_case.status } %>
  </div>

  <div class="mb-3">
    <%= form.label :receipt_number, class: "form-label", style: "display: block" %>
    <%= form.text_field :receipt_number, class: "form-control", value: immigration_case.receipt_number %>
  </div>

  <div class="mb-3">
    <%= form.label :received_date, class: "form-label", style: "display: block" %>
    <%= form.date_field :received_date, class: "form-control", value: immigration_case.received_date %>
  </div>

  <div class="mb-3">
    <%= form.label :sent_date, class: "form-label", style: "display: block" %>
    <%= form.date_field :sent_date, class: "form-control", value: immigration_case.sent_date %>
  </div>

  <div class="mb-3">
    <%= form.label :expiration_date, class: "form-label", style: "display: block" %>
    <%= form.date_field :expiration_date, class: "form-control", value: immigration_case.expiration_date %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
