<%= form_with(model: immigration_case, class: "needs-validation", novalidate: true) do |form| %>
  <% if immigration_case.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Validation Error!</h4>
      <ul>
        <% immigration_case.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.hidden_field :foreign_nationals_id, value: foreign_nationals_id %>
  </div>

  <div class="mb-3">
    <%= form.label :case_type, class: "form-label" %>
    <%= form.select :case_type, ImmigrationCase.case_types.keys, { include_blank: "Select a Case Type" }, class: "form-select", required: true %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
