<div id="<%= dom_id immigration_case %>">
  <p>
    <strong>Foreignnational:</strong>
    <%= immigration_case.ForeignNational_id %>
  </p>

  <p>
    <strong>Case type:</strong>
    <%= immigration_case.case_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= immigration_case.status %>
  </p>

  <p>
    <strong>Receiptnumber:</strong>
    <%= immigration_case.ReceiptNumber %>
  </p>

  <p>
    <strong>Noticedate:</strong>
    <%= immigration_case.NoticeDate %>
  </p>

  <p>
    <strong>Expirationdate:</strong>
    <%= immigration_case.ExpirationDate %>
  </p>

</div>
