<div class="d-flex">
  <div class="col-md-10 offset-md-1">
    <div class="d-flex justify-content-between align-items-baseline">
      <h1><%= @immigration_case.case_type %> for <%=@immigration_case.fn.name%></h1>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="flexSwitchCheckDefault" id="toggleLabel">Toggle Profile</label>
    </div>
    <hr>

    <div id="collapsible-content" class="collapse">
      <!-- Content inside the collapsible element -->
      <p>This is some collapsible content. It will be hidden or shown when the button is clicked.</p>
    </div>

    <div style="text-align: center; margin-top: 10px;">
      <button class="btn btn-success" data-toggle="collapse" data-target="#collapsible-content">
        <i class="fa-solid fa-angles-down"></i>
      </button>
    </div>
    <!-- Docs-->

    <div id="profile" class="page-content">
      



<!-- app/views/documents/documents_index.html.erb -->
<div class="container mt-4">
  <div class="row">
  <div class="col-md-8">
      <%= render 'immigration_cases/document_detail', document: @documents.first %>
    </div>
    <!-- Document List -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Document List</h5>
          <ul class="list-group">
            <% @documents.each do |document| %>
             <li class="list-group-item" data-toggle="collapse" href="#documentCollapse<%= document.id %>">
                <%= document.name %>
                <div id="documentCollapse<%= document.id %>" class="collapse">
                  <!-- Add document details here -->
                  <p>Uploader: <%= document.uploader.username %></p>
                  <!-- Add other details as needed -->
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>


    
  </div>
</div>




    </div>
    <!-- Profile-->
    <div id="cases" class="page-content" style="display: none;">
      this will be a profile page!

    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#flexSwitchCheckDefault').change(function () {
      if (this.checked) {
        $('#profile').hide();
        $('#cases').show();
        $('#toggleLabel').text('Toggle Cases');
      } else {
        $('#profile').show();
        $('#cases').hide();
        $('#toggleLabel').text('Toggle Profile');
      }
    });
  });
</script>

<div>
  <%= link_to "Edit this immigration case", edit_immigration_case_path(@immigration_case) %> |
  <%= link_to "Back to immigration cases", immigration_cases_path %>

  <%= button_to "Destroy this immigration case", @immigration_case, method: :delete %>
</div>
