<div class="card">
  <div class="card-header">
    <div style="display: flex; justify-content: space-between; align-items: baseline;">
      <h5><%= fn.name%></h5>

      <h5><%= fn.status%></h5>
    </div>
  </div>
  <div class=j"card-body" >

     
 <% fn.immigration_cases.each do |immigration_case| %>
    
    <div class= "col-md-15 offset-md-0" style="padding: 10px">
        <%= render "account_cases", immigration_case: immigration_case %>
    </div>

  <% end %>
      <%=fn.id%>
      <%= link_to "#", 
              data: { toggle: "modal", target: "#ImmigrationCaseModal", foreign_nationals_id: fn.id }, 
              class: "btn btn-light d-flex justify-content-between align-items-baseline ms-auto", 
              style: "width: 40px; text-decoration: none; color: #000;",
              onmouseover: "this.style.backgroundColor='#9205C4';",
              onmouseout: "this.style.backgroundColor='transparent';" do %>
        <i class="fas fa-plus-square"></i>
      <% end %>

    </blockquote>
  </div>
</div>

<%= render "accounts/account_new_case", fn: fn %>
